/* Mobile */
@media screen and (max-width: 374px){
/*********************************
Header
**********************************/
.logo-container{
    padding: 20px;
}

header{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
}

/*********************************
Navbar
**********************************/
#navbar{
    margin: 0 0 0 auto;
    padding: 0 70px 0 0;
}

#navbar ul{
    line-height: 50px;
}

#navbar ul li{
    list-style: none;
    display: inline-block; 
}

#navbar ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 75%);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 10px;
    font-size: 12px;
}

/********************************
section all-your-files
********************************/
#all-your-files{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 80px 0 0 0;
}

#all-your-files .caption h2, #all-your-files .caption p{
    font-family: 'Raleway', sans-serif;
}
#all-your-files .caption{
    width: 100%;
    padding: 50px 0 0 0;
    order: 2;
    margin: auto;
}
#all-your-files .image{
    width: 100%;
}

#all-your-files .image .illustration-1{
    width: 70%;
    margin: 0 0 0 30px;
}

#all-your-files .caption a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background: hsl(224, 93%, 58%);
    box-shadow: 2px 2px 2px #e6e6e6;
    border-radius: 3px;
    display: block;
    margin: 10px 0 0 0;
    text-align: center;
    padding: 8px;

}
/*******************
Get started button
********************/
input{
    font-family: 'Raleway', sans-serif;
    padding: 5px;
}

input,
#all-your-files .caption a{
    width: 270px;
}

/**********************
section Stay productive
***********************/
#stay-productive{
    padding: 180px 0 50px 30px;
    background: url('../images/bg-curve-desktop.svg') center / cover no-repeat;
    position: relative;
    margin: 250px 0 0 0;
}

#stay-productive .caption h2, #stay-productive .caption .first,
#stay-productive .caption .second,
#stay-productive .caption a{
    font-family: 'Raleway', sans-serif;
}

#stay-productive .caption .first, #stay-productive .caption .second{
    font-size: 15px;
    text-align: center;
}

#stay-productive .caption .second{
    padding: 0 0 15px 0;
}

#stay-productive .caption h2{
    font-size: 18px;
    text-align: center;
    padding: 0 0 15px 0;
}

#stay-productive .caption a .arrow{
    position: absolute;
    margin: 0 0 0 5px;
    top: 2px;
}

#stay-productive .caption a{
    color: #008000;
    border-bottom: 1px solid #000;
    position: relative;
    padding: 0 0 5px 0;
    margin: 0 0 0 20%;
}

.description-box{
    margin: 40px auto 30px auto;
    width: 80%;
    background: #fff;
    box-shadow: 5px 5px 5px #e6e6e6;
    padding: 20px;
    border-radius: 8px;
}

.description-box .avatar{
    width: 10%;
    border-radius: 30px;
    float: left;
}

.description-box .title,/* titolo section description-box */
.description-box .avatar-class .name, /* nome avatar */
.description-box .avatar-class .work{ /* lavoro avatar */
    font-family: 'Raleway', sans-serif;
}

.description-box .avatar-class .name{
    margin: 0 0 0 0;
}

.description-box .avatar-class .work{
    margin: 0 0 0 0;
}
/* immagine avatar */
.description-box .avatar-class .avatar{
    margin: 0 8px 0 0;
}

.description-box .work{
    color:hsl(0, 0%, 75%);
}

#stay-productive .illustration-2{
    width: 30%;
    position: absolute;
    bottom: 80%;
    right: 35%;
}

/***************************
section access
****************************/
#access .access .title-access, #access .access .subtitle-access{
    font-family: 'Raleway', sans-serif;
} 

#access{
    background: hsl(238, 22%, 44%);
    margin: -20px 0 0 0;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;

    
}

#access .access{
    margin: 0 auto 80px auto;
}

#access .sign-access{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#access .sign-access input[name="sign-input"],
#access .sign-access a{
    width: 270px;
}

#access .sign-access input[name="sign-input"]{
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

#access .sign-access a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background: hsl(224, 93%, 58%);
    margin: 4px 0 0 0;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    text-align: center;
}

#access .sign-access input[name="sign-input"],
#access .sign-access a{
    font-family: 'Raleway', sans-serif;
}


/***********************
Footer
************************/
footer{
    background: hsl(243, 87%, 12%);
    padding: 30px;
}

footer .contact .phone p, footer .contact .email p{
    color:hsl(0, 0%, 75%);
    display: inline-block;
    margin: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

footer .contact{
    margin: 25px auto 0 auto;
    width: 100%;
}



footer #first-ul li a,
footer #second-ul li a{
    color:hsl(0, 0%, 75%);
    font-family: 'Raleway', sans-serif;
}

footer #first-ul,
footer #second-ul{
    list-style: none;
    padding: 0;
}

footer #first-ul li a,
footer #second-ul li a{
    text-decoration: none;
 }
}


/* Tablet  */
@media screen and (min-width: 375px) and (max-width: 1439px){

/*********************************
Header
**********************************/
.logo-container{
    padding: 20px;
}

header{
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
}

/*********************************
Navbar
**********************************/
#navbar{
    margin: 0 0 0 auto;
    padding: 0 70px 0 0;
}

#navbar ul{
    line-height: 50px;
}

#navbar ul li{
    list-style: none;
    display: inline-block; 
}

#navbar ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 75%);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 10px;
    font-size: 12px;
}

/********************************
section all-your-files
********************************/
#all-your-files{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 80px 0 0 0;
}

#all-your-files .caption h2, #all-your-files .caption p{
    font-family: 'Raleway', sans-serif;
}
#all-your-files .caption{
    width: 30%;
    padding: 50px 0 0 0;
    order: 2;
    margin: auto;
}
#all-your-files .image{
    width: 50%;
}

#all-your-files .image .illustration-1{
    width: 70%;
    margin: 0 0 0 90px;
}

#all-your-files .caption a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background: hsl(224, 93%, 58%);
    box-shadow: 2px 2px 2px #e6e6e6;
    border-radius: 3px;
    display: block;
    margin: 10px 0 0 0;
    text-align: center;
    padding: 8px;

}
/*******************
Get started button
********************/
input{
    font-family: 'Raleway', sans-serif;
    padding: 5px;
}

input,
#all-your-files .caption a{
    width: 270px;
}

/**********************
section Stay productive
***********************/
#stay-productive{
    padding: 180px 0 50px 30px;
    background: url('../images/bg-curve-desktop.svg') center / cover no-repeat;
    position: relative;
    margin: 250px 0 0 0;
}

#stay-productive .caption h2, #stay-productive .caption .first,
#stay-productive .caption .second,
#stay-productive .caption a{
    font-family: 'Raleway', sans-serif;
}

#stay-productive .caption .first, #stay-productive .caption .second{
    font-size: 15px;
    text-align: center;
}

#stay-productive .caption .second{
    padding: 0 0 15px 0;
}

#stay-productive .caption h2{
    font-size: 18px;
    text-align: center;
    padding: 0 0 15px 0;
}

#stay-productive .caption a .arrow{
    position: absolute;
    margin: 0 0 0 5px;
    top: 2px;
}

#stay-productive .caption a{
    color: #008000;
    border-bottom: 1px solid #000;
    position: relative;
    padding: 0 0 5px 0;
    margin: 0 0 0 45%;
}

.description-box{
    margin: 40px auto 30px auto;
    width: 80%;
    background: #fff;
    box-shadow: 5px 5px 5px #e6e6e6;
    padding: 20px;
    border-radius: 8px;
}

.description-box .avatar{
    width: 10%;
    border-radius: 30px;
    float: left;
}

.description-box .title,/* titolo section description-box */
.description-box .avatar-class .name, /* nome avatar */
.description-box .avatar-class .work{ /* lavoro avatar */
    font-family: 'Raleway', sans-serif;
}

.description-box .avatar-class .name{
    margin: 0 0 0 0;
}

.description-box .avatar-class .work{
    margin: 0 0 0 0;
}
/* immagine avatar */
.description-box .avatar-class .avatar{
    margin: 0 8px 0 0;
}

.description-box .work{
    color:hsl(0, 0%, 75%);
}

#stay-productive .illustration-2{
    width: 30%;
    position: absolute;
    bottom: 80%;
    right: 35%;
}

/***************************
section access
****************************/
#access .access .title-access, #access .access .subtitle-access{
    font-family: 'Raleway', sans-serif;
} 

#access{
    background: hsl(238, 22%, 44%);
    margin: -20px 0 0 0;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;

    
}

#access .access{
    margin: 0 auto 80px auto;
}

#access .sign-access{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#access .sign-access input[name="sign-input"],
#access .sign-access a{
    width: 270px;
}

#access .sign-access input[name="sign-input"]{
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

#access .sign-access a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background: hsl(224, 93%, 58%);
    margin: 4px 0 0 0;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    text-align: center;
}

#access .sign-access input[name="sign-input"],
#access .sign-access a{
    font-family: 'Raleway', sans-serif;
}


/***********************
Footer
************************/
footer{
    background: hsl(243, 87%, 12%);
    padding: 30px;
}

footer .contact .phone p, footer .contact .email p{
    color:hsl(0, 0%, 75%);
    display: inline-block;
    margin: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

footer .contact{
    margin: 25px auto 0 auto;
    width: 20%;
}



footer #first-ul li a,
footer #second-ul li a{
    color:hsl(0, 0%, 75%);
    font-family: 'Raleway', sans-serif;
}

footer #first-ul,
footer #second-ul{
    list-style: none;
    margin: 30px auto 0 auto;
    padding: 0;
}

footer #first-ul li a,
footer #second-ul li a{
    text-decoration: none;
}

} /* Tablet */










/****************************************************
Desktop
*****************************************************/
@media screen and (min-width: 1440px){
/*********************************
Header
**********************************/
.logo-container{
    padding: 20px;
}

header{
    display: flex;
}

/*********************************
Navbar
**********************************/
#navbar{
    margin: 0 0 0 auto;
    padding: 0 70px 0 0;
}

#navbar ul{
    line-height: 50px;
}

#navbar ul li{
    list-style: none;
    display: inline-block; 
}

#navbar ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 75%);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 15px;
}



/********************************
section all-your-files
********************************/
#all-your-files{
    padding: 20px;
    margin: 80px 0 0 50px;
}

#all-your-files .caption h2, #all-your-files .caption p{
    font-family: 'Raleway', sans-serif;
}
#all-your-files .caption{
    width: 50%;
    float: left;
    padding: 50px 0 0 0;
}
#all-your-files .image{
    width: 50%;
    float: right;
}

#all-your-files .image .illustration-1{
    width: 70%;
    margin: 0 0 0 90px;
}

#all-your-files .caption a{
    text-decoration: none;
    padding: 9px 40px 10px 40px;
    margin: 0 0 0 10px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background: hsl(224, 93%, 58%);
    box-shadow: 2px 2px 2px #e6e6e6;
    border-radius: 3px;

}
/*******************
Get started button
********************/
input{
    font-family: 'Raleway', sans-serif;
    width: 200px;
    height: 30px;
    padding: 0 0 0 8px;
}


/**********************
section Stay productive
***********************/
#stay-productive{
    padding: 180px 0 50px 30px;
    background: url('../images/bg-curve-desktop.svg') center / cover no-repeat;
    position: relative;
    margin: 250px 0 0 0;
}

#stay-productive .caption h2, #stay-productive .caption .first,
#stay-productive .caption .second,
#stay-productive .caption a{
    font-family: 'Raleway', sans-serif;
}

#stay-productive .caption .first, #stay-productive .caption .second{
    text-align: left;
}

#stay-productive .caption a .arrow{
    position: absolute;
    margin: 0 0 0 5px;
    top: 2px;
}

#stay-productive .caption a{
    color: #008000;
    border-bottom: 1px solid #000;
    position: relative;
    padding: 0 0 5px 0;
}

.description-box{
    margin: 40px 0 0 0;
    width: 25%;
    background: #fff;
    box-shadow: 5px 5px 5px #e6e6e6;
    padding: 20px;
    border-radius: 8px;
}

.description-box .avatar{
    width: 10%;
    border-radius: 30px;
    float: left;
}

.description-box .title,/* titolo section description-box */
.description-box .avatar-class .name, /* nome avatar */
.description-box .avatar-class .work{ /* lavoro avatar */
    font-family: 'Raleway', sans-serif;
}

.description-box .avatar-class .name{
    margin: 0 0 0 0;
}

.description-box .avatar-class .work{
    margin: 0 0 0 0;
}
/* immagine avatar */
.description-box .avatar-class .avatar{
    margin: 0 8px 0 0;
}

.description-box .work{
    color:hsl(0, 0%, 75%);
}

#stay-productive .illustration-2{
    width: 30%;
    position: absolute;
    right: 20%;
    top: 20%;
}


/***************************
section access
****************************/
#access .access .title-access, #access .access .subtitle-access{
    font-family: 'Raleway', sans-serif;
} 

#access{
    background: hsl(238, 22%, 44%);
    margin: -20px 0 0 0;
    color: #fff;
    padding: 30px;
    position: relative;
    
}

#access .access{
    width: 50%;
}

#access .sign-access{
    display: flex;
    flex-direction: column;
    float: right;
    position: absolute;
    right: 30%;
    bottom: 40%;
}

#access .sign-access input[name="sign-input"]{
    width: 350px;
    font-family: 'Raleway', sans-serif;
    padding: 0 0 0 8px;
    border: none;
    border-radius: 3px;
}

#access .sign-access a{
    width: 35%;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background: hsl(224, 93%, 58%);
    margin: 4px 0 0 0;
    font-size: 14px;
    font-weight: bold;
}

#access .sign-access input[name="sign-input"],
#access .sign-access a{
    font-family: 'Raleway', sans-serif;
}


/***********************
Footer
************************/
footer{
    background: hsl(243, 87%, 12%);
    padding: 30px;
}

footer .contact .phone p, footer .contact .email p{
    color:hsl(0, 0%, 75%);
    display: inline-block;
    margin: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

footer .contact{
    margin: 25px 0 0 0;
    width: 33.3333%;
}



footer #first-ul li a,
footer #second-ul li a{
    color:hsl(0, 0%, 75%);
    font-family: 'Raleway', sans-serif;
}

footer #first-ul,
footer #second-ul{
    list-style: none;
    margin: 30px 90px 0 0;
}

footer #first-ul li a,
footer #second-ul li a{
    text-decoration: none;
}

} /*Desktop */

